<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('student_list') }}">Liste des étudiants</a></li>
            <li><a href="{{ path('student_add') }}">Ajouter un étudiant</a></li>
            <li><a href="{{ path('admin_list') }}">Liste des admins</a></li>
            <li><a href="{{ path('admin_add') }}">Ajouter un admin</a></li>
            <li><a href="{{ path('exam_list') }}">Liste des examens</a></li>
            <li><a href="{{ path('exam_add') }}">Ajouter un examen</a></li>
            <li><a href="{{ path('grade_list') }}">Liste des notes</a></li>
            <li><a href="{{ path('grade_add') }}">Ajouter une note</a></li>
            <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ? </a></li>
        </ul>
    </div>
</nav>
        